.header {
  background-size: cover;
  background-position: 85%;
  background-image: url(../images/cover_photo.jpg);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 28px 0 88px;
  }

  &__top {
    @include top-actions;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }
}
