.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/icon-menu.svg");
  background-size: cover;

  @include hover(transform, scale(1.1));

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    position: relative;
    background-image: url("../images/icons/icon-phone.svg");

    &-tooltip {
      position: absolute;
      right: 100%;
      top: 25%;

      width: max-content;
      padding-right: 20px;

      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;

      transition: opacity 0.3s;
    }

    &:hover {
      .icon--phone-tooltip {
        opacity: 1;
      }
    }
  }

  &--menu {
    background-image: url("../images/icons/icon-menu.svg");

    &:hover {
      background-image: url("../images/icons/icon-menu-hover.svg");
    }
  }

  &--close {
    background-image: url("../images/icons/icon-close.svg");
  }
}
