.icon {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;

  &__tooltip {
    position: absolute;
    right: 100%;
    top: 25%;

    width: max-content;
    padding-right: 8px;

    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;

    transition: opacity 0.3s;

    &:hover &__tooltip {
      opacity: 1;
    }
  }

  &--phone {
    background-image: url(../images/icon-phone.png);
    right: 24px;

    @include onTablet {
      right: 32px;
    }
  }

  &--menu {
    background-image: url(../images/icon-burger.png);
  }
}
