//@mixin hover($_property, $_toValue) {
//  transition: #{$_property} 0.3s;
//  &:hover {
//    #{$_property}: $_toValue;
//  }
//}

@mixin  onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin  onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin paddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.container {
  @include paddingInline;
}

//@mixin top-actions {
//  --icon-width: 24px;
//
//  display: grid;
//  grid-template-columns: 1fr var(--icon-width) var(--icon-width);
//  justify-items: start;
//  align-items: center;
//
//  @include onTablet {
//    --icon-width: 32px;
//  }
//
//  @include onDesktop {
//    --icon-width: 32px;
//  }
//}
